body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

canvas {
    background-color: #fff9f9;
    display: block;
    margin: 20px auto;
    border: 2px solid #fff;
}

#game-over {
    margin-top: 20px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
